In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
url = "https://www.alessandrobramucci.com/gapminder.csv"

df = pd.read_csv(url)

df.to_csv("data/gapminder.csv", sep = ",", decimal = ".")

In [6]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [7]:
df.isna().sum()

country      0
continent    0
year         0
lifeExp      0
pop          0
gdpPercap    0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [9]:
df.shape

(1704, 6)

In [13]:
# Liste der L채nder
country_list = df['country'].unique()
len(country_list)

142

In [12]:
# Wie viele L채nder?
country_count = df['country'].nunique()
country_count

142

In [14]:
# Wie viele Jahre pro Land?
years_count = df.groupby('country')['year'].count()
years_count

country
Afghanistan           12
Albania               12
Algeria               12
Angola                12
Argentina             12
                      ..
Vietnam               12
West Bank and Gaza    12
Yemen, Rep.           12
Zambia                12
Zimbabwe              12
Name: year, Length: 142, dtype: int64

In [15]:
sum(years_count == 12)

142

In [16]:
142 * 12

1704

In [19]:
# Wie viele L채nder pro Kontinent (nur 2007)
countries_bycont_2007 = df[df['year'] == 2007].groupby(['continent'])['country'].count()
countries_bycont_2007

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

In [24]:
# Germany filter
df_germany = df[df['country'] == 'Germany'].select_dtypes(include = 'number').reset_index(drop = True)
#df_germany

In [25]:
df_germany.to_csv('data/germany_gapminder.csv', sep = ',', decimal = '.')

In [28]:
# Durchschnittswerte pro Land 체ber Zeit
df_mean = df.groupby('country')[['lifeExp', 'pop', 'gdpPercap']].mean()
#df_mean

In [31]:
df_mean = df.groupby('continent')[['lifeExp', 'pop', 'gdpPercap']].mean()
df_mean['Variable'] = 'Mean'

             lifeExp           pop     gdpPercap Variable
continent
Africa     48.865330  9.916003e+06   2193.754578     Mean
Americas   64.658737  2.450479e+07   7136.110356     Mean
Asia       60.064903  7.703872e+07   7902.150428     Mean
Europe     71.903686  1.716976e+07  14469.475533     Mean
Oceania    74.326208  8.874672e+06  18621.609223     Mean

In [33]:
df_median = df.groupby('continent')[['lifeExp', 'pop', 'gdpPercap']].median()
df_median['Variable'] = 'Median'
df_median

           lifeExp         pop     gdpPercap Variable
continent
Africa     47.7920   4579311.0   1192.138217   Median
Americas   67.0480   6227510.0   5465.509853   Median
Asia       61.7915  14530830.5   2646.786844   Median
Europe     72.2410   8551125.0  12081.749115   Median
Oceania    73.6650   6403491.5  17983.303955   Median

In [34]:
df_min = df.groupby('continent')[['lifeExp', 'pop', 'gdpPercap']].min()
df_min['Variable'] = 'Minimum'
df_min

           lifeExp      pop     gdpPercap Variable
continent
Africa      23.599    60011    241.165876  Minimum
Americas    37.579   662850   1201.637154  Minimum
Asia        28.801   120447    331.000000  Minimum
Europe      43.585   147962    973.533195  Minimum
Oceania     69.120  1994794  10039.595640  Minimum

In [35]:
df_max = df.groupby('continent')[['lifeExp', 'pop', 'gdpPercap']].max()
df_max['Variable'] = 'Maximum'
df_max

           lifeExp         pop     gdpPercap Variable
continent
Africa      76.442   135031164   21951.21176  Maximum
Americas    80.653   301139947   42951.65309  Maximum
Asia        82.603  1318683096  113523.13290  Maximum
Europe      81.757    82400996   49357.19017  Maximum
Oceania     81.235    20434176   34435.36744  Maximum

In [37]:
df_summary = pd.concat([df_mean, df_median, df_max, df_min], axis = 0).reset_index()
df_summary

   continent    lifeExp           pop      gdpPercap Variable
0     Africa  48.865330  9.916003e+06    2193.754578     Mean
1   Americas  64.658737  2.450479e+07    7136.110356     Mean
2       Asia  60.064903  7.703872e+07    7902.150428     Mean
3     Europe  71.903686  1.716976e+07   14469.475533     Mean
4    Oceania  74.326208  8.874672e+06   18621.609223     Mean
5     Africa  47.792000  4.579311e+06    1192.138217   Median
6   Americas  67.048000  6.227510e+06    5465.509853   Median
7       Asia  61.791500  1.453083e+07    2646.786844   Median
8     Europe  72.241000  8.551125e+06   12081.749115   Median
9    Oceania  73.665000  6.403492e+06   17983.303955   Median
10    Africa  76.442000  1.350312e+08   21951.211760  Maximum
11  Americas  80.653000  3.011399e+08   42951.653090  Maximum
12      Asia  82.603000  1.318683e+09  113523.132900  Maximum
13    Europe  81.757000  8.240100e+07   49357.190170  Maximum
14   Oceania  81.235000  2.043418e+07   34435.367440  Maximum
15    Africa  23.599000  6.001100e+04     241.165876  Minimum
16  Americas  37.579000  6.628500e+05    1201.637154  Minimum
17      Asia  28.801000  1.204470e+05     331.000000  Minimum
18    Europe  43.585000  1.479620e+05     973.533195  Minimum
19   Oceania  69.120000  1.994794e+06   10039.595640  Minimum